body,
input,
select,
button {
  font-family: "Open Sans", sans-serif;
}
.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0.5rem 1.25rem;
}
.intro {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
